.Event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid #dabfff;
  width: 600px;
  margin: 2px auto;
  padding: 0 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.Event p {
  padding: 0 10px;
}

.Event_delete {
  color: #e71d36;
  cursor: pointer;
}
