.Event {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #DABFFF;
  width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
}

.Event p {
  padding: 0 10px;
}

.Event_delete {
  color: #E71D36;
  cursor: pointer;
}